/* huisstijl custom properties, kijk huistijl sheet voor meer informatie */

:root {
  /* colors */
  --lifely-grey99: #3c3b34;
  --lifely-grey70: #9b9a92;
  --lifely-grey50: #c6c5bd;
  --lifely-grey20: #eaeae6;
  --lifely-bg-grey: #f6f6f4;
  --lifely-accent-red: #ff6b6b;
  --lifely-hover-red: #eb5a5a;
  --white: #ffffff;

  /* typography:
   !! only use primary font for titles
   !! only use secondary font for the intro onliner
   !! only use base font for the normal text

  */

  --lifely-primary-font: 700 2.5em/1.125em "aktiv-grotesk", sans-serif;
  --lifely-secondary-font: 400 1.125em/1.875em "Playfair Display", serif;
  --lifely-base-font: 300 1.125em/1.775em "aktiv-grotesk", sans-serif;
}

/* mobile view: < 480px width (30em)  */
body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  font: var(--lifely-primary-font);
  color: var(--lifely-grey99);
  margin: 0px;
}

p {
  font: var(--lifely-base-font);
  color: var(--lifely-grey99);
}

/* 
navbar 
*/

header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: var(--white);
}

.logo-img {
  width: 3rem;
}

.menu-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  height: 2rem;
  font-weight: 300;
  font-family: "aktiv-grotesk", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.span-text-menu {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5rem;
}

svg {
  width: 1rem;
  align-items: center;
}

/* 
page title 
*/

.intro {
  margin-bottom: 35px;
}

.intro-oneliner {
  font: var(--lifely-secondary-font);
  font-style: normal;

  letter-spacing: 0.04em;
  color: var(--lifely-grey70);

  margin-bottom: 15px;
}

.title-space {
  display: grid;
  margin: 25px 25px 75px 25px;
  grid:
    "H" 340px
    "C1" 1fr
    / 1fr;
}

.title {
  grid-area: H;
}

/* 
abstract section
*/

.abstract {
  grid-area: C1;
}

.abstract-image img {
  width: 340px;

  margin-bottom: 30px;
}

/* 
                    lifely buttons
*/

.call-to-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: -40px;
}

.lifely-primary-button {
  display: inline-flex;
  flex-wrap: wrap;

  padding: 12px 32px;
  align-items: center;

  background-color: var(--lifely-accent-red);
  border: none;
  color: var(--white);
  font-family: "aktiv-grotesk";
  font-weight: 700;
  line-height: 1.125em;

  font-size: 0.875em;
  margin: 0px 40px 40px 0px;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: background-color, color;
}

.lifely-primary-button:hover {
  background-color: var(--lifely-hover-red);
}

.lifely-secondary-button {
  display: inline-flex;
  align-items: center;
  font-family: "aktiv-grotesk";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #ff6b6b;
}

/* 
              dictionary-quote
 */

.dictionary-quote {
  background: var(--lifely-grey99);
  padding: 65px 16px 65px 16px;
}

.dictionary-quote dfn {
  font: 100 1.125em/1.875em "Playfair Display", serif;
  color: var(--white);
}

.dictionary-quote p {
  font: 300 1em/1.625em "aktiv-grotesk", sans-serif;
  color: var(--white);
}

.subtext {
  margin: 8px 0 0;
  padding-bottom: 24px;
  border-bottom: 1px solid hsla(53, 7%, 76%, 0.5);
}

/* tablet view: 480px width */
@media screen and (min-width: 30em) {
}

/* laptop view, small screens: starting at 769px */
@media screen and (min-width: 48.0625em) {
}

/* desktop, grote schermen: starting at 1025px  */

@media screen and (min-width: 64.0625em) {
}
